*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "utilities/colores";

            //PHONE

    @import "layaout/header";
    @import "views/phone/homePhone";
    @import "views/phone/produtosPhone";
    @import "views/phone/pzadoPhone";
    @import "views/phone/momentosPhone";
    @import "views/phone/mateTipsPhone";
    @import "views/phone/contactoPhone";
    @import "layaout/footer";


            //TABLET
@media only screen and (min-width: 768px){
    
    .phone{
        display: none;
    }
    .desktop{
        display: block;
    }
    @import "layaout/navegationTablet";
    @import "views/tablet/momentos";
    @import "views/tablet/contactoTablet";
    

}

            //DESKTOP
@media only screen and (min-width: 1200px){
    .phone{
        display: none;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: block;
    }
    .none{
        display: inline-block;
    }
   
    @import "layaout/navegation";
    @import "views/desktop/homeDesktop";
    @import "views/desktop/mateTipsDesktop";
    @import "views/desktop/momentos";
    @import "views/desktop/contacto";
    @import "views/desktop/productos";
    @import "views/desktop/personalizado";
}