//imports
@import "utilities/colores";
@import "utilities/iconos";
@import "utilities/gridFlex";
@import "utilities/decoration";
@import "utilities/dimensiones";
@import "utilities/tipografia";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Global 
.desktop{
    display: none;
}
header{
    background-color: $color-header;
    .headerHome{
        display: grid;
        grid-template-areas: "logo navH compra";
        justify-content: space-between;
        .redesSociales{
            display: none;
        }  
        .logotipo{
            grid-area: logo;
            width: 8rem;
            padding: 0.5rem;
        }
        .carroCompra{
            grid-area: compra;
            padding: 0.5rem;
        }
        .menuphone{
            grid-area: navH;
            font-family: 'Space Mono', monospace;
            font-size: 0.7rem;
        }    
    }
}
footer{
    div{
        @include grid-footer;
        .imgE{
            grid-area: imgE;
            @extend %padding-ic-f;
        }
        .imgP{
            grid-area: imgP;
            @extend %padding-ic-f;
        }
        .imgS{
            grid-area: imgS;
            @extend %padding-ic-f;
        }
        .envios{
            grid-area: envios;
            @extend %texto-titulo-f;
        }
        .pagos{
            grid-area: pagos;
            @extend %texto-titulo-f;
        }
        .compra{
            grid-area: seguro;
            @extend %texto-titulo-f;
        }
        .compraPie, .pagosPie, .enviosPie{
            display: none;
        }
    }
}

// INDEX.HTML
body{   
    main{
        .tituloHome{
            @extend %titulos-ppales;
        }
        .gridHome{
            display: grid;
            grid-template-areas: "titulo"
                            "seccion";  
            background-color: $color-grid;
            .conteinerSeccion{
                grid-area: seccion;
                @extend %flex-1;
                
                .aSeccion{
                    @extend %enlaces-seccion-P;
                    //secciones
                    .itemProductos{
                        @include color-Secciones(nth($color-ppal-s,1), nth($color-borde-s, 1) );
                    }
                    .itemPzado{
                        @include color-Secciones(nth($color-ppal-s,2), nth($color-borde-s, 2) );
                    }
                    .itemMomentos{
                        @include color-Secciones(nth($color-ppal-s,3), nth($color-borde-s, 3) );
                    }
                    .itemMateTips{
                        @include color-Secciones(nth($color-ppal-s,4), nth($color-borde-s, 4) );
                    }
                    .itemContactos{
                        @include color-Secciones(nth($color-ppal-s,5), nth($color-borde-s, 5) );
                    }
                    .item{
                        @extend %dimension-Seccion-P;
                        
                        //iconos
                        .i1{
                            @extend %iconosIzquierda;
                        }
                        .i2{
                            @extend %iconosMedio;
                        }
                        .i3{
                            @extend %iconosDerecha;
                        }

                    }   
                }
            }

        }
    }
}

// PRODUCTOS.HTML
body{
    main{
        .gridPro{ 
            @include grid-4;
            .tituloPro{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerPro{
                grid-area: 2;
                .areaPro{
                    @extend %flex-1;
                    .itemPro{
                        @extend %dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 1);
                    }
                    .contenedorImgPro{
                        .imgPro{
                            @extend %dimension-img-S;
                            border-color: nth($color-ppal-s, 1);
                        }
                    }
                }
            }
            .subtituloPro{
                grid-area: 3;
                @extend %subtitulos;
            }
        }
    }
}

// PERSONALIZADO.HTML 
body{
    main{
        .gridPzadoo{
            @include grid-4;
            .tituloPzadoo{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerPzadoo{
                grid-area: 2;
                .areaPzadoo{
                    @extend %flex-1;
                    .itemPzadoo{
                        @extend %dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 2);
                    }
                    .contenedorImgPzadoo{
                        .imgPzadoo{
                            @extend %dimension-img-S;
                            border-color: nth($color-ppal-s, 2);
                        }
                    }
                }
            }
            .subtituloPzadoo{
                grid-area: 3;
                @extend %subtitulos;
            }
        }
    }
}

// MOMENTOS.HTML 
body{
    main{
        .gridMomentos{
            @include grid-4;
            .tituloMo{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerMo{
                grid-area: 2;
                .areaMo{
                    @extend %flex-1;
                    .itemMo{
                        @extend %dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 3);
                    }
                    .contenedorImg{
                        .imgItemMo{
                            @extend %dimension-img-S;
                            border-color: nth($color-ppal-s, 3);
                        }
                    }
                }
            }
            .subtituloMo{
                grid-area: 3;
                @extend %subtitulos;
            }
            .contenedorGaleria{
                grid-area: 4;
                @extend %galeria-momentos;
                background-color: $color-galeria;
                padding: 0.5rem;
                border-radius: 1rem;
                //acomodamiento grid
                //borde radius izquierdo
                .img1{
                    grid-area: img1;
                }
                .img3{
                    grid-area: img3;
                }
                .img5{
                    grid-area: img5;
                }
                .texto2{
                    grid-area: p2;
                }
                .texto4{
                    grid-area: p4;
                }          
                //borde radius derecho
                .img2{
                    grid-area: img2;
                }
                .img4{
                    grid-area: img4;
                }
                .texto1{
                    grid-area: p1;
                }
                .texto3{
                    grid-area: p3;
                }
                .texto5{
                    grid-area: p5;
                }
                /* Atributos Globales */
                .img2, .img4, .texto1, .texto3, .texto5, .img1, .img3, .img5, .texto2, .texto4{
                    @extend %borde-GM;
                }
                .texto1, .texto2, .texto3, .texto4, .texto5{
                    @extend %texto-galeria-M;
                }
            }
        }
    }
}

// MATETIPS.HTML
body{
    main{
        .gridMateTips{
            @include grid-6;
            .tituloM{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerMateTips{
                grid-area: 2;
                .areaMT{
                    @extend %flex-1;
                    .itemM{
                        @extend %dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 4);
                    }
                    .contenedorImgMT{
                        .imagenMTS{
                        @extend %dimension-img-S;
                        border-color: nth($color-ppal-s, 4);
                        }
                    }
                }
            }
            .curado{
                grid-area: 3;
                @extend %subtitulos;
            }
            .listaCurado{
                grid-area: 4;
                @extend %listas;
                li{
                    padding: 0.5rem;
                }
            }
            .cebado{
                grid-area: 5;
                @extend %subtitulos;
            }
            .listaCebado{
                grid-area: 6;
                @extend %listas;
                li{
                    padding: 0.5rem;
                }
            }
        }
    }
}

// CONTACTOS.HTML
body{
    main{
        .gridContactos{
            @include grid-6;
            .tituloContacto{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerContacto{
                grid-area: 2;
                .areaContacto{
                    @extend %flex-1;
                    .itemC{
                        @extend %dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 5);
                    }
                    .redesC{
                        @extend %dimension-acople-S;
                        background-color: nth($color-borde-s, 5);
                    }
                }
            }
            .parrafoC{
                grid-area: 3;
                @extend %subtitulos;
            }
            .formulario{
                grid-area: 4;
                @extend %formulario;
            }
            .complemento{
                grid-area: 5;
                @extend 
                %subtitulos;
            }
            .adicionalConteiner{
                grid-area: 6;
                @extend %adicionalConteiner;
                .textoC3, .imgC3, .textoC2, .imgC2, .textoC1, .imgC1{
                    padding: 0.2rem 0 0.2rem 0;
                }
            }
        }
    }
}