@import "../../base/mixins";
@import "../../base/typo";

@import "../../utilities/colores";

@import "../../layaout/extends";
@import "../../layaout/flex";
@import "../../layaout/grid";

// MATETIPS.HTML
body{
    main{
        .gridMateTips{
            @include grid-6;
            
            .tituloM{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerMateTips{
                grid-area: 2;
                .areaMT{
                    @include flex-1;
                    .itemM{
                        @include dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 4);
                    }
                    .contenedorImgMT{
                        .imagenMTS{
                            @include dimension-img-S;
                        border-color: nth($color-ppal-s, 4);
                        }
                    }
                }
            }
            .curado{
                grid-area: 3;
                @extend %subtitulos;
            }
            .listaCurado{
                
                grid-area: 4;
                @extend %listas;
               
                li{
                    @extend %elementos-listas;
                }
            }
            .cebado{
                grid-area: 5;
                @extend %subtitulos;
            }
            .listaCebado{
                
                grid-area: 6;
                @extend %listas;
                li{
                    @extend %elementos-listas;
                }
            }
        }
    }
}