@import "../../base/mixins";
@import "../../base/typo";

@import "../../utilities/colores";

@import "../../layaout/extends";
@import "../../layaout/flex";
@import "../../layaout/grid";

// MOMENTOS.HTML 
.desktop{
    display: none;
}
body{
    main{
        .gridMomentos{
            @include grid-4;
            .tituloMo{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerMo{
                grid-area: 2;
                .areaMo{
                    @include flex-1;
                    .itemMo{
                        @include dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 3);
                    }
                    .contenedorImg{
                        .imgItemMo{
                            @include dimension-img-S;
                            border-color: nth($color-ppal-s, 3);
                        }
                    }
                }
            }
            .subtituloMo{
                grid-area: 3;
                @extend %subtitulos;
            }
            
            .contenedorGaleria{
                grid-area: 4;
                display: flex;
                flex-flow: row wrap;
                margin:2rem 3rem 2rem 3rem;
                justify-content: center;
                gap: 1rem;
                img, div{
                    border-radius: 2rem;
                    width: 10rem;
                    height: 15rem;
                }
                div{
                    @extend %texto-galeria-M; 
                }
                
               
            }     
        }
    }
}