@import "../../base/mixins";
@import "../../base/typo";

@import "../../utilities/colores";

@import "../../layaout/extends";
@import "../../layaout/flex";
@import "../../layaout/grid";

// PRODUCTOS.HTML

body{
    main{
        .gridPro{ 
            @include grid-4;
            .tituloPro{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerPro{
                grid-area: 2;
                .areaPro{
                    @include flex-1;
                    .itemPro{
                        @include dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 1);
                    }
                    .contenedorImgPro{
                            .imgPro{
                            @include dimension-img-S;
                            border-color: nth($color-ppal-s, 1);
                        }
                    }
                }
            }
            .subtituloPro{
                grid-area: 3;
                @extend %subtitulos;
            }
            .contenedorCatalogo{
                grid-area: 4;
                .contenedorcard{    
                    @extend %contenedor-card;
                    .card{
                        @extend %card;
                        .img{
                            grid-area: img;
                            img{
                                @extend %card-img;
                            }
                        }
                        .texto{
                            grid-area: texto;
                            @extend %card-text;            
                            .tituloCard{
                                @extend %titulo-card;
                            }
                            .precio{
                                @extend %card-precio;
                            }         
                        }
                        div{
                            grid-area: button;
                            button{
                                @extend %card-button;
                            }
                        }
                        
                    }

                }

            }
        }
    }
}
