@import "../../base/mixins";
@import "../../base/typo";

@import "../../utilities/colores";

@import "../../layaout/extends";
@import "../../layaout/flex";
@import "../../layaout/grid";

// PERSONALIZADO.HTML 
body{
    main{
        .gridPzadoo{
            @include grid-3;
            .tituloPzadoo{
                grid-area: 1;
                @extend %titulos-ppales;
            }
            .conteinerPzadoo{
                grid-area: 2;
                .areaPzadoo{
                    @include flex-1;
                    .itemPzadoo{
                        @include dimension-Seccion-S;
                        @extend %texto-seccion-S;
                        background-color: nth($color-ppal-s, 2);
                    }
                    .contenedorImgPzadoo{
                        .imgPzadoo{
                            @include dimension-img-S;
                            border-color: nth($color-ppal-s, 2);
                        }
                    }
                }
            }
            .catalogoPzado{
                grid-area: 4;   
                h2{
                    grid-area: 1;
                    @extend %titulo-catalogo;
                }
                .pasosPzado{
                    grid-area: 2;

                    ul{
                        @extend %alineacion-pasos-phone;
                        .tituloLista{
                            @extend %titulo-pasos;
                        }

                        li{
                            @extend %lista-pasos;
                            a{
                                @include enlaces-pasos; 
                            }
                        }
                    }
                }
                .imgPzado{
                    grid-area: 3;
                    text-align: center;
                    img{
                        width: 40%;
                        border-radius: 2rem;
                        padding: 1rem;
                    }
                }

                .pieCatalogo{
                    grid-area: 4;
                    margin-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    .textoPiePzado{
                    @extend %textoPiePzado;
                    @include margin-lat(3rem,3rem);
                    }
                }
            }
        }
    }
}