@import "../base/typo";
@import "../utilities/colores";
@import "../utilities/variables";


// <a> Botones Secciones Phone
%enlaces-seccion-P {
    text-decoration: none; 
}
// HOME BOTONES
%dimension-Seccion-P{
    width: $ancho-bottom-S;
    height: $ancho-bottom-S;
    overflow: hidden;
    margin: 0.3125rem;
    padding-top: 1rem;
    position: relative;
    font-size: 1.2rem;
}

%texto-botones{
    text-align: center;
    text-transform: uppercase;
    font-family: $tipografia-ppal;
    color: $color-tipografia;
    font-weight: bold;
}
// Botones de los htmls Phone
%texto-seccion-S{
    text-align: center; 
    text-transform: uppercase;  
    font-family: $tipografia-ppal;
    font-weight: bold;
    font-size: 1.2rem;
}

// <h1> Titulos principales/Encabezado Phone
%titulos-ppales{
    text-align: center;
    font-size: 1.7rem;
    font-family: $tipografia-ppal;
    padding: 0.3rem;
    font-weight: bold; 
}
// <h2> Subtitulos Phine
%subtitulos{
    font-family: $tipografia-ppal;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    padding: 1rem;
}

//texto galeria
%texto-galeria-M{
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: $color-galeria;
    padding: 0.3rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
}

//Matetips Textos Instructivos

%listas{
    text-align: justify;
    padding-right: 1rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    margin-bottom: 0.3rem;
    font-size: 1rem;  
    list-style: none;
    
}

// BOTONES HTMLS
@mixin dimension-Seccion-S{
    width: $ancho-bottom-S;
    height: $alto-bottom-S;
    overflow: hidden;
    
    margin: 0.3125rem 0 0 0;
    padding-top: 4rem;
    
    border: 1rem 0 0.25rem 0.25rem;
    border-radius: 1rem 0 0 1rem;  
    
    text-align: center;
    font-size: 1.2rem;
    font-family: $tipografia-ppal;
    font-weight: bold;
}

//Logo
$logo: (
    logophone: 8rem,
    logodesktop:75%,
);

//CONTACTOS
//contenedor adicional
@mixin adicionalConteiner{
    text-align: center;
    margin: 1rem;
}

//Galeria Momentos
%borde-GM{
    width: 100%;
    height: 100%;
    border-radius: 1rem; 
    text-align: center;
}

//Personalizado.html
%titulo-catalogo{
    text-align: center;
    font-family: $tipografia-ppal;
    margin-bottom: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

%alineacion-pasos-phone{
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

%titulo-pasos{
    font-family: $tipografia-ppal;
    font-size: 1.2rem;
    background-color: $color-bg-listaPzado;
    padding: 0.3rem;
    border-radius: 1rem;
}

%lista-pasos{
    text-align: center;
    list-style: none;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: $color-bg-listaPzado2;
    padding: 0.2rem;
    border-radius: 1rem;
}

%textoPiePzado{
    font-family: $tipografia-sdaria;
    font-weight: bold;
    font-size: 1rem;
    text-align: justify;
    background-color: $color-bg-listaPzado;
    border-radius: 1rem;
    padding: 0.3rem;
}
//Productos-Phone
%contenedor-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
    gap: 1.5rem;
}

%card{
    display: grid;
    grid-template-areas: "img"
                        "texto"
                        "button";
    border-radius: 0.5rem;
    background-color: #DAE8CC;
}

%card-img{
    margin: 0;
    width: 100%;
    height: 15rem;
    padding: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

%card-text{
    width:  12rem;
    height: 100%;
    margin: 0;
    padding: 0;  
    
}

%titulo-card{
    font-family: $tipografia-ppal;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding-top: 0.2rem;
    font-weight: bold;
}

%card-precio{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    font-family: $tipografia-ppal;
}

%card-button{
    font-family: $tipografia-ppal;
    width: 5rem;
    height: 1.6rem;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    border-color:nth($color-hover-s, 1 );
    background-color: nth($color-ppal-s, 1 );
    margin: 0.5rem;
}