

@mixin flex-1{  //si uso un extend, me da error en las media queries
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@mixin flex-2{
    display: flex;
    justify-content: center;
}
%flex-3{
    display: flex;
    justify-self: center;
    flex-flow: column nowrap;
}

@mixin dimension-acople-S{
    display: flex;
    width: 11rem;
    padding: 0.5em 0 0.5rem 0;
    margin-top: 0.3125rem;
    height: 10rem;
    border-radius: 0 1rem 1rem 0; 
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
//galeria momentos

@mixin flex-galeria-desktop{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    gap: 1.3rem;   
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
}