@import "../base/typo";
@import "grid";
@import "../utilities/iconos";
@import "../base/mixins";
@import "extends";

/*FOOTER APLICADO A TODOS HTMLS */
footer{
    div{
        @include grid-footer;
        .imgE{
            grid-area: imgE;
            @extend %padding-ic-f;
        }
        .imgP{
            grid-area: imgP;
            @extend %padding-ic-f;
        }
        .imgS{
            grid-area: imgS;
            @extend %padding-ic-f;
        }
        .envios{
            grid-area: envios;
            @include texto-titulo-f;
        }
        .pagos{
            grid-area: pagos;
            @include texto-titulo-f;
        }
        .compra{
            grid-area: seguro;
            @include texto-titulo-f;
        }
        .compraPie, .pagosPie, .enviosPie{
            display: none;
        }
        @media only screen and (min-width: 768px){
            
            @include grid-footer-D;
            
            .compraPie, .pagosPie, .enviosPie{
                display: block;
                @include text-subt-footer;
            }
            .envios, .pagos, .compra{
                @include texto-titulo-F;
            }
            .imgP, .imgE, .imgS{
                justify-self: right;
                align-self: center;
                width: 50%;
            }
            .compraPie{
                grid-area: compraPie;
            }
            .pagosPie{
                grid-area: pagosPie;
            }
            .enviosPie{
                grid-area: enviosPie;
            }
        }
        @media only screen and (min-width: 1200px){
            .compraPie, .pagosPie, .enviosPie{
                font-size: 1rem;
            }
            .envios, .pagos, .compra{
                font-size: 1.2rem;
            }
            .imgP, .imgE, .imgS{
                width: 40%;
            }
            
        }
    }
}