@import "../utilities/colores";


@mixin grid-4{
    display: grid;
    grid-area: "1"
               "2"
               "3"
               "4";
    background-color: $color-grid;
}
@mixin grid-6{
    display: grid;
    grid-area: "1"
               "2"
               "3"
               "4"
               "5"
               "6";
    background-color: $color-grid;
}
@mixin grid-footer {
    display: grid;
    grid-template-areas:"imgE    imgP  imgS" 
                        "envios pagos seguro"
                        "enviosPie pagosPie compraPie";
    width: 100%;
    text-align: center;
    justify-items: center;
    position: absolute;
    background-color: $color-footer; 
    padding: 0.5rem 0 0.5rem 0;
}
%grid-header-phone{
    display: grid;
    grid-template-areas: "logo navH compra";
    justify-content: space-between;
}

%galeria-momentos{
    display: grid;
    grid-template-areas:     "img1   p1"
                             "p2  img2"
                             "img3  p3"
                             "p4    img4"
                             "img5   p5 ";   
    margin: 0 2rem 2rem 2rem;
    justify-content: center;  
}
//GRIDS DESKTOP
@mixin grid-header-desktop{
    display: grid;
    grid-template-areas: "logo   redes     compra"
                            "navd    navd   navd";
    background-color: $color-header;
     
}



