@import "../utilities/colores";


@mixin grid-3{
    display: grid;
    grid-area: "1"
               "2"
               "3";
    background-color: $color-grid;

}
@mixin grid-4{
    display: grid;
    grid-area: "1"
               "2"
               "3"
               "4";
    background-color: $color-grid;
}
@mixin grid-6{
    display: grid;
    grid-area: "1"
               "2"
               "3"
               "4"
               "5"
               "6";
    background-color: $color-grid;
    justify-content: center;
}
@mixin grid-footer {
    display: grid;
    grid-template-areas:"imgE    imgP  imgS" 
                        "envios pagos seguro"
                        "enviosPie pagosPie compraPie";
    width: 100%;
    text-align: center;
    justify-items: center;
    position: absolute;
    background-color: $color-footer; 
    padding: 1rem 0 0.5rem 0;
}
@mixin grid-home{
    display: grid;
    grid-template-areas: "titulo"
                        "seccion";  
    background-color: $color-grid;
    height: 100%;
    width: 100%;
}
//form
@mixin grid-form{
    display: grid;
    grid-template-areas: "title input"
                        " button button";
}

// le pongo extend para que en desktop no tome el estilo
%grid-header-phone{
    display: grid;
    grid-template-areas: "logo navH compra";
    justify-content: space-between;
    
}

%galeria-momentos{
    display: grid;
    grid-template-areas:     "img1   p1"
                             "p2  img2"
                             "img3  p3"
                             "p4    img4"
                             "img5   p5 ";   
    margin: 0 2rem 2rem 2rem;
    justify-content: center;  
    gap: 1rem;
}

//GridTablet
@mixin grid-contacto-tablet{
    display: grid;
    grid-template-areas: "title title"
                        "seccion seccion"
                        "titulo   titulo"
                        "texto     form"
                        "pie        form";
    padding-bottom: 1.5rem;
}


//GRIDS DESKTOP
//Header
@mixin grid-header-desktop{
    display: grid;
    grid-template-areas: "logo   redes     compra"
                         "navd    navd   navd";
    background-color: $color-header;  
}
//footer
@mixin grid-footer-D {
    display: grid;
    grid-template-areas:
                        "imgE envios imgP pagos  imgS seguro"
                        "imgE enviosPie imgP pagosPie  imgS compraPie";
    width: 100%;
    text-align: center;
    justify-items: center;
    position: absolute;
    background-color: $color-footer; 
    padding: 0.5rem;
}

//Catalogo productos Productos
@mixin grid-productos{
    display: grid;
    grid-template-areas: "izq cards"
                        ;
    background-color: $color-grid;
    gap: 1rem;
    padding: 1rem;
    margin: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 1rem;
    background-color: nth($color-ppal-s, 1 );
}

//Catalogo Personalizado
@mixin grid-personalizado{
    display: grid;
    grid-template-areas:"titulo img" 
                        "expl  img"
                        "pie img";
    margin-top: 2rem;
    margin-bottom:  2rem;
    
}

//Contacto Desktop
@mixin grid-contactos{
    grid-template-areas: "titulo    titulo"
                        " conteinerC conteinerC"
                        "subtituloC     form"
                        "complemento   form"
                        "adicionalC    form";
    padding-bottom: 1.5rem;  
}

//MateTips
@mixin grid-mateTips{
    display: grid;
    grid-template-areas: "tituloMT tituloMT"
                        "conteiner  conteiner"
                        "curado       video"
                        "lista1      video"
                        "cebado      video"
                        "lista2      video";
   
    padding: 1rem;
}