@import "../utilities/colores";
@import "../utilities/iconos";
@import "../utilities/variables";
@import "grid";
@import "flex";
@import "extends";
@import "../base/typo";

body{ 
    header{
        .headerHome{
            a{    
                .logotipo{
                    width: map-get($map: $logo, $key: logodesktop);
                    padding: 1rem 0 1rem 1rem;
                }
            }
            .redesSociales{
                img{
                    width: 25%;
                }
            }
            .carroCompra{
                align-self: center;
            }
            .navHome{                 
                         
                ul{ 
                    li{
                        font-size: 1.5rem;
                        &:hover{
                            transition: 0.2s;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

