//Loyout
$color-header: #c8c8c8;
$color-nav: #c8c8c8;
$color-grid: #969696;
$color-footer: #e0b0ff;
$color-galeria: #c8c8c8;
$color-borde-nav: #969696;
//tipo
$color-tipografia: #1F1F1F;
//secciones
$color-lista-MateTip: #F9D896;
$color-acople-Contacto: rgb(238, 196, 234);
$color-bg-listaPzado: #EDC1B9;
$color-bg-listaPzado2: #FFEDED;
$color-form-enviar: #82E891;
$color-form-reset:  #E8E5B0;
$color-fondo-contacto: #FFFFFF;
$color-cards: #DAE8CC;
$color-white: whitesmoke;


// 1-Productos  2-Pzado  3-Momentos  4-MateTips  5-Contactos
$color-ppal-s: #8DD7CF, #D6B1B1, #B2ACFA, #F3C19D, #DE9AE8;
$color-borde-s: #639691, #967D7D, #8580BA, #B38E74, #A16FA8;
$color-hover-s: #4D7571, #756161, #545175, #755D4C, #714D75; 

@mixin color-Secciones ($fondo, $bordeS){
    background-color: $fondo;
    border-color: $bordeS;
}