//Loyout
$color-header: #c7f6d4;
$color-nav: #fcfcda;
$color-grid: #e2e3e7;
$color-footer: #ffb6af;
$color-galeria: #E2B9FA;
$color-tipografia: #1F1F1F;
$color-lista-MateTip: #F9D896;
$color-acople-Contacto: rgb(238, 196, 234);
//secciones
// 1-Productos  2-Pzado  3-Momentos  4-MateTips  5-Contactos
$color-ppal-s: #8DD7CF, #D6B1B1, #B2ACFA, #F3C19D, #DE9AE8;
$color-borde-s: #639691, #967D7D, #8580BA, #B38E74, #A16FA8;
$color-hover-s: #4D7571, #756161, #545175, #755D4C, #714D75; 

@mixin color-Secciones ($fondo, $bordeS){
    background-color: $fondo;
    border-color: $bordeS;
}