//seccion phone

%dimension-Seccion-P{
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    margin: 0.3125rem;
    padding-top: 1rem;
    position: relative;
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: 0.25rem solid;
}

