@import "../base/typo";

//Iconos

//logotipo


//secciones
%iconosIzquierda {
    position: absolute;
    bottom: 7%;
    left: 10%;
}
%iconosMedio {
    position: absolute;
    bottom: 7%;
    left: 40%;
}
%iconosDerecha {
    position: absolute;
    bottom: 7%;
    left: 70%;
}
//footer
%padding-ic-f{
    padding-top: 0.5rem;
}

%padding-ic-f{
    padding-top: 0%
}