$tipografia-ppal: 'Space Mono', monospace;
$tipografia-sdaria: 'Roboto Mono', monospace;

%enlaces-seccion-P {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 1rem;
}
%titulos-ppales{
    text-align: center;
    font-size: 1.7rem;
    font-family: $tipografia-ppal;
    padding: 0.3rem;
    font-weight: bold;
    
}

%subtitulos{
    font-family: $tipografia-ppal;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    padding: 1rem;
}
%texto-titulo-f{
    font-size: 0.9rem;
    padding: 0.3rem;
    font-family: $tipografia-ppal;
    text-align: center;
    
}

%texto-seccion-S{
    text-align: center; 
    text-transform: uppercase;  
    font-family: $tipografia-ppal;
    font-weight: bold;
    font-size: 1.2rem;
}

//texto galeria
%texto-galeria-M{
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #FBD76E;
    padding: 0.3rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
}

//Matetips

%listas{
    text-align: justify;
    padding-right: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-bottom: 0.3rem;
    font-size: 1rem;  
}