@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";

@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridContactos{
            @include grid-contacto-tablet;
                .tituloContacto{
                    grid-area: title; 
                    font-size: 2rem;   
                    
                }
                .conteinerContacto{
                    grid-area: seccion;
                    display: flex;
                    justify-content: center;
                }
                .parrafoC{
                    grid-area: titulo;
                    font-size: 1.5rem;  
                    text-align: left; 
                    padding-bottom: 0;
                    border-bottom: 2px solid nth($color-borde-s, 5 );
                }
                .complemento{
                    grid-area: texto;
                    text-align: left;
                    font-size: 1.2rem;
                    font-weight: normal;
                    margin: 0;
                    .fondo{
                        display: block;
                        background-color: $color-fondo-contacto;
                        border-radius: 1rem;
                        padding: 0.5rem;    
                    }  
                    
                }
                .formulario{
                    grid-area: form;
                    padding-top: 1rem;
                    
                }
                .adicionalConteiner{
                    grid-area: pie;
                    text-align: left;
                    .none{
                        display: none;
                    }
                    img{
                        display: inline;
                    }
                    p{
                        font-size: 1.2rem;
                        font-family: $tipografia-ppal;
                        
                    }
                    
                }
                
            
        }
    }
}