@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";

@import "../../base/typo";
@import "../../base/mixins";

//Tablet
body{
    main{
        .gridContactos{
            @include grid-contacto-tablet;
                .tituloContacto{
                    grid-area: title; 
                       
                }
                .conteinerContacto{
                    grid-area: seccion;
                    display: flex;
                    justify-content: center;
                }
                .parrafoC{
                    grid-area: titulo;
                    padding-bottom: 0;
                   span{
                        font-size: 1.5rem;
                   }
                }
                .complemento{
                    grid-area: texto;
                    text-align: left;
                    margin-right: 2rem;
                
                    .fondo{
                        display: block;
                        background-color: $color-fondo-contacto;
                        border-radius: 1rem;
                        padding: 0.5rem;  
                        font-size: 1.2rem;  
                        font-weight: normal;
                    }  
                
                }
                .formulario{
                    grid-area: form;
                    padding-top: 1rem;
                    padding-right: 2rem;
                }

                .adicionalConteiner{
                    grid-area: pie;
                    text-align: left;
                    margin-left: 2rem;
                    .none{
                        display: none; //video
                    }
                    img{
                        display: inline-block;
                    }
                    p{
                        font-size: 1.2rem;
                        font-family: $tipografia-ppal;
                    }
                    
                }
                
            
        }
    }
}