@import "../../base/mixins";
@import "../../base/typo";

@import "../../utilities/colores";

@import "../../layaout/extends";
@import "../../layaout/flex";
@import "../../layaout/grid";

// MATETIPS.HTML
body{
    main{
        .gridMateTips{
            
            .curado{
                text-align: left;
            }
            
            .listaCurado{
                padding-left: 0;
                font-size: 1rem;
            }

            .cebado{
               text-align: left;
            }

            .listaCebado{
                padding-left: 0;
                
                li{  
                    font-size: 1rem;      
                }
            }
            
        }
    }
}