//importaciones
@import "../utilities/colores";
@import "typo";
@import "../utilities/variables";

@mixin margin-lat($left,$right){
    margin-left: $right;
    margin-right: $right;
}
            // PHONE 
// bordes Seccion Home
@mixin bordes{
    border: 0.25rem solid;
    border-radius: 0.8rem;
}
// contenedor imagenes
@mixin dimension-img-S{
    width: 11rem;
    height: 10rem;
    margin-top: 0.3125rem;
    border-radius: 0 1rem 1rem 0;
    border: 0.5rem solid;
}
// Textos del Footer Phone
@mixin texto-titulo-f{
    font-size: 0.9rem;
    padding: 0.3rem;
    font-family: $tipografia-ppal;
    text-align: center;
    font-weight: bold;
}
//textos botones
@mixin texto-botones{
    text-align: center;
    text-transform: uppercase;
    font-family: $tipografia-ppal;
    color: $color-tipografia;
    font-weight: bold;
}


            //  DESKTOP    

        // ATRIBUTOS GLOBALES 
//titulos footer
@mixin texto-titulo-F{
    font-size: 1rem;
    
}
@mixin text-subt-footer{
    font-size: 0.8rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    margin: 0;
}

//subtitulo footer
@mixin seccion-P-T{
    height: 20rem;
    width: 20rem;
    padding-top: 7%;
    margin: 0;
    border: none;  
}

//htmls
@mixin seccion-P-D{
    height: 20rem;
    width: 20rem;
    padding-top: 7%;
    margin: 10px 20px 30px 20px;
    overflow: hidden;
    position: relative;  
    font-family: $tipografia-ppal;
    font-size: 1.8rem;
    border: none; 
}
@mixin titulos-ppales-D{
    text-align: center;
    font-size: 2.3rem;
    padding: 1.2rem;
}
@mixin subtitulos{
    text-transform: uppercase;
    font-size: 2.1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}


        // INDEX.HTML 
//htmls botones
@mixin item{
    height: 35vh;
    width: 35vh;
    overflow: hidden;
    font-size: 2rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}    
@mixin imgItem{
    margin: 0.3125rem 0 0 0;
    width: 35vh ;
    height: 35vh;
    border-radius: 0 1rem 1rem 0; 
}


        // MATETIPS.HTML
@mixin listas{
    text-align: left;
    width: 65vw;
    justify-items: left;   
}

@mixin elementos-lista {
    padding: 0.5rem;
    margin-right: 6rem;
    font-size: 1.3rem;
}

@mixin titulo-list{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.3rem 0 1rem 0rem;
    text-align: left;
}


        // MOMENTOS.HTML
@mixin texto-galeria-desktop{
    //tipo
    text-transform: uppercase;
    font-size: 1.5rem;
}
@mixin imagenes-galeria-desktop{
    //space
    width: 16rem;
    height: 21rem;
    border-radius: 1rem;
    //shadow
    -webkit-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    -moz-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
}


        //  CONTACTO.HTML
@mixin titulo-contacto{
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 4rem;
    padding-top: 2rem;
    text-transform: uppercase;
}
@mixin conteinerDatos{
    display: grid;
    grid-template-areas: "C1 text1"
                        "C2 text2"
                        "C3 text3";
                        
    padding-left: 4rem;
    justify-content: left;
    margin: 0;
}
@mixin acopleContacto{
    display: flex;
    flex-flow: column wrap;
    width: 35vh;
    height: 35vh;
    margin-top: 0.3125rem;
    border-radius: 0 1rem 1rem 0; 
    justify-content: space-evenly;
    background-color: $color-acople-Contacto;
}


        //PRODUCTOS.HTML
//catalogo   
@mixin contenedor-card{
    justify-content: center;
    margin: 0;
}                                                       
//filtros
@mixin titulo-filtros{
    font-family: $tipografia-ppal;
    font-size: 1.2rem;
    padding: 0.2rem;  
    background-color: #DAE8CC;
    border: 2px solid nth($color-borde-s, 1 );
    border-radius: 0.3rem;
}
@mixin lista-filtros{
    margin-top: 1.1rem;
    list-style: none;
    font-family: $tipografia-ppal;
    font-weight: bold;
    font-size: 1.2rem;
}


        //PERSONALIZADO.HTML
@mixin titulo-catalogo{
    text-align: left;
    padding-left: 5rem;
    margin-top: 0;
}
//Instrucciones
@mixin alineacion-pasos{
    text-align: left;
    padding-left: 5rem;
    padding-right: 0rem;
}
@mixin titulo-pasos{
    font-size: 1.5rem;
    padding: 0.3rem;
}
@mixin lista-pasos{
    text-align: left;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
@mixin enlaces-pasos{
    text-decoration: none;
    font-family: $tipografia-ppal;
    color: $color-tipografia;
    font-weight: bold;
}
@mixin img-Pzado{
    grid-area: img;
    width: 30vw;
    text-align: center;
}
//Info Complementaria
@mixin alineacion-pieCatalogo{   
    padding-left: 5rem;
    margin-bottom: 0;
}
@mixin texto-catalogo{
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: justify;
}
