//importaciones
@import "../utilities/colores";
@import "typo";
@import "../utilities/variables";

@mixin margin-lat($left,$right){
    margin-left: $right;
    margin-right: $right;
}
    /* PHONE */
// bordes Seccion Home
@mixin bordes{
    border: 0.25rem solid;
    border-radius: 0.8rem;
}
// contenedor imagenes
@mixin dimension-img-S{
    width: 11rem;
    height: 10rem;
    margin-top: 0.3125rem;
    border-radius: 0 1rem 1rem 0;
    border: 0.5rem solid;
}
// Textos del Footer Phone
@mixin texto-titulo-f{
    font-size: 0.9rem;
    padding: 0.3rem;
    font-family: $tipografia-ppal;
    text-align: center;
    font-weight: bold;
}
//textos botones
@mixin texto-botones{
    text-align: center;
    text-transform: uppercase;
    font-family: $tipografia-ppal;
    color: $color-tipografia;
    font-weight: bold;
}


                    /*  DESKTOP  */
    
        /* ATRIBUTOS GLOBALES */
//titulos footer
@mixin texto-titulo-F{
    font-size: 1rem;
    
}
@mixin text-subt-footer{
    font-size: 0.7rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    margin: 0;
}

//subtitulo footer

//htmls
@mixin seccion-P-D{
    height: 20rem;
    width: 20rem;
    padding-top: 7%;
    margin: 10px 20px 30px 20px;
    overflow: hidden;
    position: relative;  
    font-family: $tipografia-ppal;
    font-size: 1.8rem;
    border: none; 
}
@mixin titulos-ppales-D{
    text-align: center;
    font-size: 2.3rem;
    font-family: $tipografia-ppal;
    padding: 1.2rem;
    font-weight: bold; 
}
@mixin subtitulos{
    font-family: $tipografia-ppal;
    text-transform: uppercase;
    font-size: 2.1rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    font-weight: bold;
    padding-left: 2rem;
    margin: 0;
}
        /*CIERRE GLOBALES*/

    /* INDEX.HTML */
//htmls botones
@mixin item{
    height: 35vh;
    width: 35vh;
    overflow: hidden;
    font-size: 2rem;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}    
@mixin itemPzado{
    height: 35vh;
    width: 35vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.7rem;
    text-align: center;
}
@mixin imgItem{
    margin: 0.3125rem 0 0 0;
    width: 35vh ;
    height: 35vh;
    border-radius: 0 1rem 1rem 0; 
}

    //CIERRE INDEX.HTML

    /* MATETIPS.HTML */
@mixin listas{
    text-align: left;
    font-size: 1.2rem;
    width: 65vw;
    justify-items: left;   
    
}
@mixin elementos-lista {
    padding: 0.2rem;
   margin-right: 2.5rem;
   
}
@mixin titulo-list{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.3rem 0 1rem 2rem;
    
}
    /* CIERRE MATETIPS.HTML*/

    /*MOMENTOS.HTML*/
@mixin texto-galeria-desktop{
    //space
    width: 13rem;
    height: 16rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    background-color: nth($color-borde-s, 3 );
    //tipo
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: $tipografia-ppal;
    font-weight: bold;
    //shadow
    -webkit-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    -moz-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
}
@mixin imagenes-galeria-desktop{
    //space
    width: 13rem;
    height: 16rem;
    border-radius: 1rem;
    //shadow
    -webkit-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    -moz-box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
    box-shadow: 0px 0px 4px 5px nth($color-hover-s, 3 );
}
    /* CIERRE MOMENTOS.HTML */

    /*CONTACTO.HTML*/
@mixin titulo-contacto{
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 4rem;
    padding-top: 2rem;
    text-transform: uppercase;
}
@mixin conteinerDatos{
    display: grid;
    grid-template-areas: "C1 text1"
                        "C2 text2"
                        "C3 text3";
                        
    padding-left: 4rem;
    justify-content: left;
    margin: 0;
}

@mixin acopleContacto{
    display: flex;
    flex-flow: column wrap;
    width: 35vh;
    height: 35vh;
    margin-top: 0.3125rem;
    border-radius: 0 1rem 1rem 0; 
    justify-content: space-evenly;
    background-color: $color-acople-Contacto;
}
    /* CIERRE CONTACTOS.HTML */

    /*PRODUCTOS.HTML*/
@mixin contenedor-catalogo{ 
    grid-area: cards;
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: space-evenly;
    margin: 0;
    row-gap: 2rem;
}
//catalogo   
@mixin contenedor-card{
    grid-area: cards;  
    justify-content: center;
    margin: 0;
    
}                                                       
@mixin card{
    margin: 0;
    width: 12rem; 
    border-radius: 0.8rem; 
    
}
@mixin contenedor-texto{
    width: 12rem;
    height: 19rem;
}
@mixin card-title{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
@mixin card-prise{
    font-size: 1rem;
    text-align: center;
    font-family: $tipografia-ppal;
    margin: 0;
    padding-bottom: 0.5rem;
}
@mixin caracteristicas {
    font-size: 0.8rem;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    align-items: end;
    margin: 0;
    padding-right: 1rem;
   
}
@mixin titulo-descripcion{
    font-size: 0.8rem;
    font-family: $tipografia-ppal;
    text-transform: uppercase;
    text-decoration: underline; 
    padding-bottom: 0.5rem;
}
@mixin comprar-b{
    background-color: $color-grid; 
    font-family: $tipografia-ppal; 
    font-weight: bold;
    padding: 0.2rem; 
    font-size: 0.9rem;
    border-radius: 0.3rem;
    margin: 1rem;
    border-color:nth($color-hover-s, 1 );
    background-color: nth($color-ppal-s, 1 );
}

//filtros
@mixin titulo-filtros{
    font-family: $tipografia-ppal;
    font-size: 1.2rem;
    background-color: #8AE3A8;
    padding: 0.2rem;
    border-radius: 0.3rem;
}
@mixin lista-filtros{
    padding: 0.5rem 0 0 0;
    list-style: none;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    font-size: 1rem;
}
    /* CIERRE PRODUCTOS.HTML */

    /*PERSONALIZADO.HTML*/
@mixin titulo-catalogo{
    text-align: left;
    font-family: $tipografia-ppal;
    padding-bottom: 0;
    font-weight: bold;
    padding-left: 10rem;
}
@mixin alineacion-pasos{
    text-align: left;
    padding-left: 10rem;
    padding-right: 0rem;
}
@mixin titulo-pasos{
    font-family: $tipografia-ppal;
    font-size: 1.5rem;
    background-color: $color-bg-listaPzado;
    padding: 0.3rem;
    border-radius: 1rem;
}
@mixin lista-pasos{
    text-align: left;
    list-style: none;
    font-family: $tipografia-sdaria;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: $color-bg-listaPzado2;
    padding: 0.2rem;
    border-radius: 1rem;
}
@mixin enlaces-pasos{
    text-decoration: none;
    font-family: $tipografia-ppal;
    color: $color-tipografia;
    font-weight: bold;
}
@mixin img-Pzado{
    grid-area: img;
    width: 30vw;
    text-align: center;
}
@mixin img-Pzado-Dimension{  
    width: 80%;
    padding: 0.5rem;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: #A38787; 
}
@mixin alineacion-pieCatalogo{   
    padding-left: 7rem;
    margin-bottom: 0;
}
@mixin texto-catalogo{
    font-family: $tipografia-sdaria;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0;
    text-align: justify;
    background-color: $color-bg-listaPzado;
    border-radius: 1rem;
}
    /* CIERRE PERSONALIZADO.HTML */