@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";

@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridContactos{
            @include grid-contactos;
            .tituloContacto{
                grid-area: titulo;
                @include titulos-ppales-D;
            }
            .conteinerContacto{ 
                grid-area: conteinerC;
                margin-bottom: 1.5rem;
                .areaContacto{

                    .itemC{
                        @include item;
                    }
                    .redesC{
                        @include acopleContacto;
                    }
                }
            }
            .parrafoC{  
                @include titulo-contacto;
                grid-area: subtituloC; 
                border-bottom: none;

                span{  
                    border-bottom: 5px solid nth($color-borde-s, 5 ) ;
                    padding: 0.2rem;
                }
            }  
            .formulario{    
                grid-area: form;
                margin-right: 5vw;
                padding: 2rem 1rem 0rem 1rem;
                width: 35vw;

                div{
                    width: 100%;
                    .tituloForm{
                        font-size: 1.2rem;
                        text-align: left;
                    }
                }
            }
            .complemento{
                grid-area: complemento;
                padding-left: 4rem;
                padding-right: 4rem;
                span{
                    text-align: left;
                    font-size: 1.5rem;
                    font-weight: normal;
                }
            }

            .adicionalConteiner{
                grid-area: adicionalC;
                @include conteinerDatos; 

                .imgC1{
                    grid-area: C1;          
                }
                .imgC2{
                    grid-area: C2;
                }
                .imgC3{
                    grid-area: C3;
                }
                .textoC1{
                    grid-area: text1; 
                }
                .textoC2{
                    grid-area: text2; 
                }
                .textoC3{
                    grid-area: text3;
                }
                img{
                    width: 30px;
                    align-self: center;
                    background-color: $color-nav;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }
                .textoC{
                    font-size: 1.5rem; 
                    text-align: left;
                    padding-left: 1rem;
                    padding-right: 1.5rem;
                    align-self: center;
                    margin: 0;
                    background-color: $color-nav;
                    border-radius: 1rem;
                }
            }
        }
    }
}