@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridMateTips{
            @include grid-mateTips;
            
            .tituloM{
                grid-area: tituloMT;
                @include titulos-ppales-D;       
            }
            .conteinerMateTips{
                grid-area: conteiner;
                padding-bottom: 1.5rem;
                .areaMT{
                    .itemM{
                        @include item;    
                    }
                    .contenedorImgMT{
                        .imagenMTS{
                            @include imgItem;   
                        }
                    }
                }
            }
            .curado{
                grid-area: curado;
                @include titulo-list;
                
            } 
            .listaCurado{
                grid-area: lista1;
                @include listas;

                li{ 
                    @include elementos-lista;
                }
            }
            .cebado{
                grid-area: cebado;
                @include titulo-list;
            }
            .listaCebado{
                grid-area: lista2;
                @include listas;
                margin-bottom: 1.5rem;
                li{ 
                    @include elementos-lista;
                    background-color: $color-lista-MateTip;  
                }
            }
            .video{
                
                grid-area: video;
                display: block;
            }
        }
    }
}