@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridMateTips{
            display: grid;
            grid-template-areas: "tituloMT tituloMT"
                                "conteiner  conteiner"
                                "curado       video"
                                "lista1      video"
                                "cebado      video"
                                "lista2      video";
            margin: 0;
            padding: 0;
            .tituloM{
                grid-area: tituloMT;
                @include titulos-ppales-D;
                
            }
            .conteinerMateTips{
                grid-area: conteiner;
                .areaMT{
                    .itemM{
                        @include item;    
                    }
                    .contenedorImgMT{
                        .imagenMTS{
                            @include imgItem;   
                        }
                    }
                }
            }
            .curado{
                grid-area: curado;
                @include titulo-list;
                text-align: left;
            } 
            .listaCurado{
                grid-area: lista1;
                @include listas;
                li{
                    
                    @include elementos-lista;
                    background-color: $color-lista-MateTip;
                    
                }
            }
            .cebado{
                grid-area: cebado;
                @include titulo-list;
                text-align: left;
            }
            .listaCebado{
                grid-area: lista2;
                @include listas;
                margin-bottom: 1.5rem;
                li{ 
                    @include elementos-lista;
                    background-color: $color-lista-MateTip;  
                }
            }
            .videoInsta{
                grid-area: video;
                width: 50%;
            }
        }
    }
}