@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridMomentos{
            .contenedorGaleria{   
                /* Atributos Globales */
                .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10{
                    width: 17rem;
                    height: 20rem; 
                }
                .texto1, .texto2, .texto3, .texto4,.texto5, .texto6, .texto7, .texto8, .texto9, .texto10{
                    width: 17rem;
                    height: 20rem;
                    font-size: 1.2rem;
                }
                img, div{
                    &:hover{
                        transition: 0.2s;
                        transform: scale(1.05);
                    }
                }
            }
        }
            
    }
}
