@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";


body{
    main{
        .gridPzadoo{
            .tituloPzadoo{

                @include titulos-ppales-D;
            }
            .conteinerPzadoo{
                
                .areaPzadoo{

                    .itemPzadoo{
                        @include itemPzado;
                    }
                    .contenedorImgPzadoo{

                        .imgPzadoo{
                            @include imgItem;
                        }
                    }
                }
            }
            .catalogoPzado{
                @include grid-personalizado;

                h2{
                    grid-area: titulo;
                    @include titulo-catalogo;
                    margin-bottom: 0;
                }
                .pasosPzado{
                    width: 60vw;  

                    ul{
                        grid-area: expl;
                        @include alineacion-pasos;

                        .tituloLista{
                        @include titulo-pasos;
                        }

                        li{
                            @include lista-pasos;
                            
                            a{
                                @include enlaces-pasos; 
                            }
                        }
                    }
                }
                .imgPzado{    
                    @include img-Pzado;   

                    img{
                        @include img-Pzado-Dimension; 
                    }
                }
                .pieCatalogo{
                    grid-area: pie;
                    @include alineacion-pieCatalogo;

                    .textoPiePzado{
                    @include texto-catalogo;
                    }
                }
            }
        }
    }
}