@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";



body{
    main{
        .gridPro{ 
            @include grid-4;
            .tituloPro{
                @include titulos-ppales-D;
            }
            .conteinerPro{
                
                .areaPro{
                    
                    .itemPro{
                        @include item;
                    }
                    .contenedorImgPro{
                            .imgPro{
                                @include imgItem;
                        }
                    }
                }
            }
            .subtituloPro{
                @include subtitulos;
            }
        }
        .contenedorCatalogo{
            @include grid-productos;
            .contenedorcard{     
                grid-area: cards;
                @include contenedor-catalogo;
                .card{
                    
                    @include card;
                   
                    .img{
                        margin: 0;
                        padding: 0;
                        img{
                            width: 100%;
                            height: 32.774375rem;
                            padding: 0;
                            margin: 0;
                        }
                    }
                    .texto{
                       
                        height: 21rem;
                        .tituloCard{
                            @include card-title;
                        }
                        .precio{
                            @include card-prise;
                        }
                        ul{
                            @include caracteristica;
                            
                            li{
                            @include descripcion;
                            }
                        }
                    }
                    button{
                        @include comprar-b;
                    }
                }
            }
            .izq{
                grid-area: izq;
                background-color: beige;
                width: 28vw;
            }
        }
    }
}