@import "../../utilities/colores";
@import "../../utilities/iconos";
@import "../../utilities/variables";
@import "../../layaout/grid";
@import "../../layaout/flex";
@import "../../base/typo";
@import "../../base/mixins";



body{
    main{
        .gridPro{ 
            .tituloPro{
                @include titulos-ppales-D;
            }
            .conteinerPro{            
                .areaPro{                   
                    .itemPro{
                        @include item;
                    }
                    .contenedorImgPro{
                            .imgPro{
                                @include imgItem;
                        }
                    }
                }
            }
            .subtituloPro{
                @include subtitulos;
            } 
            .contenedorCatalogo{
                @include grid-productos;
                .contenedorcard{   
                    @include contenedor-card;
                    grid-area: cards;  
                    .card{  
                        &:hover{
                            transition: 0.2s;
                            transform: scale(1.05);
                        } 
                    }
                }
                .izq{
                    grid-area: izq;  
                    text-align: center;
                    ul{ 
                        padding: 0;
                        margin-top: 0.5rem;
                        span{
                            @include titulo-filtros;
                        }
                        li{
                            @include lista-filtros;
                        }
                    }
                }
            }
        }
    }
}